template(name='nav')
  nav.navbar.is-fixed-top
    a.navbar-brand
      a.navbar-item(href='/')
        strong нoмε
    a.navbar-burger(role='button', data-target='navMenu', aria-label='menu', aria-expanded='false')
      span(aria-hidden='true')
      |   
      span(aria-hidden='true')
      |   
      span(aria-hidden='true')
    .navbar-menu
      .navbar-start
        a.navbar-item(href='https://github.com/EliverLara/Nordic')
          span пoгᴅιc
        a.navbar-item(href='https://github.com/zayronxio/Zafiro-icons')
          span zαꜰιгo
      .navbar-end
        a.navbar-item(href='experience')
          span εхπεгιεпcε
        a.navbar-item(href='formation')
          span ꜰoгмατιoп
        a.navbar-item(href='panteon')
          span παпτнεoп
